/*form:last-child {
	color: red;
}*/

li {
	list-style-type: none;
}

p {
	float: left;
}

label, input, li {
	margin-bottom: 10px;
}

input:focus {
	border: 2px solid blue;
}

label, fieldset, div, p, header {
	font-family: Arial;
}

legend {
	font-weight: bold;
}

#topLevel {
	margin-bottom:30px;
	height: 150px;
	
}

header {
	height: 120px;
}

h1 {
	margin: auto;
	font-size: 40px;
	text-align: center;
}

#totalSalaries {
	margin-bottom: 20px;
	margin-right: 20px;
	margin-top: 35px;
	
}

#newEmployee{
	width: 40%;
	float: left;
	margin-bottom: 30px;
}

#randomEmployeeButton {
	float: left;
	width: 9%;
	margin: 28px 10px 10px 50px;
	background-color: rgba(0, 150, 200, 0.7);
	border-radius: 10px;
	border-style: none;
}

#removeButton {
	float:right;
	margin-right:5px;
	margin-top:5px;
}

.oneStarRating {
	background-color: rgba(255,0,0,0.7);
}

.twoStarRating {
	background-color: rgba(255, 102, 0, 0.7);
}

.threeStarRating {
	background-color: rgba(230, 230, 0, 0.7);
}

.fourStarRating {
	background-color: rgba(102, 255, 51, 0.7);
}

.fiveStarRating {
	background-color: rgba(0, 184, 0, 0.7);
}

.existingEmployee {
	border: 5px ;
	width: 30%;
	margin: 10px 0px 10px 20px;
	border-radius:10px;
	padding-top: 5px;
	padding-bottom: 5px;
}